<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorldQuant University MScFE Graduate Photo Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>WorldQuant University MScFE Graduate Photo Generator</h1>
        <h2>Congratulations on completing your MSc in Financial Engineering</h2>
        <form action="/" method="post" enctype="multipart/form-data">
            <label for="file">Upload your photo (Square Photo 1:1, JPG/JPEG/PNG formats only):</label>
            <input type="file" name="file" id="file" accept="image/*" required>
            <button type="submit">Process and Download</button>
        </form>
    </div>
</body>
</html>
